Repository rerelurelu/supernova-archive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,spec.ts}": "eslint --fix",
  "*.{ts,tsx,spec.ts,json,md}": "prettier --write"
}

Revert "Dev"
  .env.example
  .lintstagedrc.json
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/api/client.ts
  src/components/blogField/blogField.tsx
  src/components/pagination/pagination.tsx
  src/components/postCard/postCard.tsx
  src/const/url.ts
  src/routes/blog/[postId]/index.tsx
  src/routes/blog/index.tsx
  src/routes/blog/layout.tsx
  src/routes/blog/page/[page]/index.tsx
  src/routes/index.tsx
  src/routes/layout.tsx
  src/types.ts
  src/utils/constants.ts
  src/utils/convertDataDisplay.spec.ts
  src/utils/getCurrentIndex.spec.ts
  src/utils/getCurrentIndex.ts
  src/utils/getPagination.spec.ts
  src/utils/getPagination.ts
  src/utils/getPathName.spec.ts
  src/utils/range.spec.ts
  src/utils/range.ts
Due: eslint --fix, prettier --write

🔥 remove: Remove cloudflare settings
  .node-version
  adapters/cloudflare-pages/vite.config.ts
  public/_headers
  public/_redirects
  src/entry.cloudflare-pages.tsx
Due: eslint --fix, prettier --write

chore: Add vercel settings
  .gitignore
  README.md
  adapters/vercel-edge/vite.config.ts
  package.json
  pnpm-lock.yaml
  src/entry.vercel-edge.tsx
  vercel.json
Due: eslint --fix, prettier --write

🧰 chore: Add Vercel settings
  .gitignore
  README.md
  adapters/static/vite.config.ts
  adapters/vercel-edge/vite.config.ts
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/root.tsx
Due: eslint --fix, prettier --write

🔥 remove: Remove `@vercel/analytics`
  package.json
  pnpm-lock.yaml
  src/root.tsx
Due: eslint --fix, prettier --write

🧰 chore: Add cloudflare settings
  .node-version
  adapters/cloudflare-pages/vite.config.ts
  package.json
  pnpm-lock.yaml
  public/_headers
  public/_redirects
  src/entry.cloudflare-pages.tsx
  src/entry.vercel-edge.tsx
  vercel.json
Due: eslint --fix, prettier --write

🐛 bug: Fix node version
  .node-version
Due: none

🧰 chore: Update all packages
  .node-version
  adapters/cloudflare-pages/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🐛 bug: Add type
  vite.config.ts
Due: eslint --fix, prettier --write

🧰 chore: Migration from Cloudflare to Vercel
  .node-version
  adapters/vercel-edge/vite.config.ts
  package.json
  pnpm-lock.yaml
  public/_headers
  public/_redirects
  src/entry.cloudflare-pages.tsx
  src/entry.vercel-edge.tsx
  vercel.json
Due: eslint --fix, prettier --write

🧰 chore: Fix node version
  package.json
Due: prettier --write

🧰 chore: Fix cloudflare settings
  .node-version
  adapters/cloudflare-pages/vite.config.ts
  package.json
  pnpm-lock.yaml
  public/_headers
  public/_redirects
  src/entry.cloudflare-pages.tsx
  src/entry.vercel-edge.tsx
  vercel.json
Due: eslint --fix, prettier --write

✨ feat: Use custom domain😍
  .gitignore
  README.md
  adapters/static/vite.config.ts
  public/robots.txt
Due: eslint --fix, prettier --write

☪️ refactor: Moved color management to `panda.config.ts`
  panda.config.ts
  src/components/avatar/avatar.tsx
  src/components/footer/footer.tsx
  src/components/header/header.tsx
  src/components/pagination/pagination.tsx
  src/components/postCard/postCard.tsx
  src/components/postContainer/postContainer.tsx
  src/routes/about/index.tsx
  src/routes/contact/index.tsx
Due: eslint --fix, prettier --write

☪️ refactor: Moved color management to `panda.config.ts`
  panda.config.ts
  src/components/blogField/blogField.tsx
  src/components/contentsTitle/contentsTitle.tsx
  src/components/footer/footer.tsx
  src/components/postCard/postCard.tsx
  src/components/postContainer/postContainer.tsx
  src/routes/404.tsx
  src/routes/blog/[postId]/index.tsx
  src/routes/blog/index.tsx
  src/routes/blog/page/[page]/index.tsx
  src/routes/contact/index.tsx
Due: eslint --fix, prettier --write

🥰 perf: Fix color contrast
  panda.config.ts
  src/components/postContainer/postContainer.tsx
  src/routes/blog/[postId]/index.tsx
Due: eslint --fix, prettier --write

🎨 layout: Add yellow
  src/components/hero/hero.tsx
  src/root.tsx
Due: eslint --fix, prettier --write

🥰 perf: Update `meta > description`
  src/routes/blog/index.tsx
  src/routes/blog/page/[page]/index.tsx
Due: eslint --fix, prettier --write

feat: Use yarn instead of pnpm
  .gitignore
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

🔥 remove: Remove pnpm file
  pnpm-lock.yaml
Due: none

🐛 bug: Add `baseUrl`
  tsconfig.json
Due: prettier --write

Update
  .node-version
Due: none

Update
  .eslintignore
  .gitignore
  .prettierignore
  package.json
  panda.config.ts
  postcss.config.js
  src/global.css
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

🐛bug: Fix Panda CSS settings
  tsconfig.json
Due: prettier --write

☪️ refactor: 🩵
  src/api/client.ts
  src/routes/blog/[postId]/index.tsx
  src/routes/index.tsx
Due: eslint --fix, prettier --write

☪️ refactor: 🩵
  src/routes/blog/index.tsx
  src/routes/blog/page/[page]/index.tsx
Due: eslint --fix, prettier --write

☪️ refactor: Use `Date()` instated of `convertDateDisplay()`
  src/components/postCard/postCard.tsx
  src/routes/blog/[postId]/index.tsx
  src/utils/convertDataDisplay.spec.ts
  src/utils/convertDateDisplay.ts
Due: eslint --fix, prettier --write

🧰 chore: Use pnpm instead of yarn
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

☪️ refactor: Use qwik-sonner
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/components/toast/Toast.tsx
  src/components/toast/Wrapper.tsx
  src/components/toast/assets.tsx
  src/components/toast/index.ts
  src/components/toast/state.ts
  src/components/toast/styles.css
  src/routes/contact/index.tsx
  src/types.ts
  src/utils/constants.ts
  src/utils/index.ts
  src/utils/observer.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: Add package manager settings
  .node-version
  package.json
Due: prettier --write

🧰 chore: Fix node version
  .node-version
  package.json
Due: prettier --write

chore: Add rehype
  package.json
  pnpm-lock.yaml
Due: prettier --write

✨ feat: Add Syntax Highlighter
  src/components/postContainer/postContainer.tsx
  src/global.css
Due: eslint --fix, prettier --write

🧰 chore: Add jsx-sort-props
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/api/client.ts
  src/components/avatar/avatar.tsx
  src/components/blogField/blogField.tsx
  src/components/header/header.tsx
  src/components/pagination/pagination.tsx
  src/components/postCard/postCard.tsx
  src/components/router-head/router-head.tsx
  src/root.tsx
  src/routes/about/index.tsx
  src/routes/blog/index.tsx
  src/routes/blog/page/[page]/index.tsx
  src/routes/contact/index.tsx
Due: eslint --fix, prettier --write

🧰 chore: `semi: true` -> `false`
  .prettierrc
Due: none

🎨 layout: Fix code block
  src/components/postContainer/postContainer.tsx
Due: eslint --fix, prettier --write

chore: Add lefthook
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write
